<p-toast position="top-right" key="logout" (onClose)="goToLogin()" life=2000 />

<!-- NAVBAR MENU RESPONSIVE -->
<p-menubar [model]="items" styleClass="custom-menubar">

    <!-- Logo Innovacom-->
    <ng-template pTemplate="start">
        <div class="logo-container">
            <img style=" height: 60px; margin-right: 5px;"
                src="logos/logo-ministerio.webp" id="ministero"
                class="logo desktop-logo" alt="Logotipo del Ministerio de Educación y Formación Profesional">
            <img src="logos/gobierno-responsive.webp" alt="Logotipo del Gobierno de España" class="logo mobile-logo">

            <a routerLink="/" style="margin-right: 15px;">
                <img src="logos/comunicat-icono.webp" class="logo" alt="Logotipo comunica-t">
            </a>
        </div>

    </ng-template>

    <ng-template pTemplate="end">
        <div class="logo-container">

            <span class="medium vertical-align-middle lg:m-4" *ngIf="authService.isAuthenticated()">
                @if(user)
                {
                ¡Hola, {{ user.name }}!
                }
            </span>

            <a routerLink="/cart" class="cart">
                <img src="icons/cart.webp" alt="carrito compra" class="vertical-align-middle" width="45px">
                <!-- para numeros grandes, tam de letra mas pequeño -->
                <span style="font-size: x-small;" *ngIf="cartProductCount>=100">
                    {{ cartProductCount }}
                </span>
                <span *ngIf="cartProductCount<100">
                    {{ cartProductCount }}
                </span>
            </a>

            <div *ngIf="authService.isAuthenticated()" style="cursor: pointer;" class="dropdown">
                <a>
                    <img src="icons/user-icon.webp" alt="icono-user" class="vertical-align-middle" width="40px"
                        class="user-icon vertical-align-middle clickable; cursor: pointer;">
                    <div class="dropdown-content">
                        <a [routerLink]="'/user-profile'">Perfil</a>
                        <a *ngIf="authService.isAdmin()" [routerLink]="'/admin-profile'">Administración</a>
                        <a (click)="authClick()" class="logout-text">Cerrar Sesión</a>
                    </div>
                </a>
            </div>

            <a id="inicio-sesion" *ngIf="!this.isMobile() && !authService.isAuthenticated()" class="session-link"
                (click)="authClick()">
                <button class="p-button font-bold ml-3 mr-1 mt-2">Acceder</button>
            </a>
            <span style="float: right;">
                <img src="logos/logoJunta.webp" alt="Logo Junta de Andalucía" class="logo desktop-logo">
                <img src="logos/Andalucía-responsive.webp" alt="Logo Junta de Andalucía" class="logo mobile-logo">
            </span>
        </div>


    </ng-template>

</p-menubar>