.custom-menubar {
    background-color: white;
}

.logo-container {
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.cart {
    position: relative;
}

.cart span {
    position: absolute;
    background-color: var(--primary-color);
    border: 2px var(--primary-color) solid;
    color: white;
    text-align: center;
    border-radius: 50%;
    height: 1.2rem;
    width: 1.2rem;
    line-height: 1rem;
    right: -0.4rem;
    top: 0;
    font-size: smaller;
}

span {
    color: #042431;
    font-weight: 400;
    font-size: larger;
}

a {
    text-decoration: none;
    text-decoration-color: none;
}

a img:hover {
    /* transform: scale(0.95); */
    filter: drop-shadow(0px 4px 10px rgb(208, 223, 255));
}

.session-link {
    cursor: pointer;
}

button {
    border: 0px;
    background-color: #3c747c;
    color: white;
    border-radius: 30px;
    padding: 15px;
    font-size: small;
    letter-spacing: 1px;
}

button:hover {
    cursor: pointer;
    background-color: #0b4258;
}

.clickable {
    cursor: pointer;
}

.logo {
    display: block;
    height: 50px;
}

.desktop-logo {
    display: block;
}

.mobile-logo {
    display: none;
}

.user-icon {
    margin-left: 20px;
    margin-right: 10px;
}

::ng-deep .logout-text {
    color: red !important;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 135px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

::ng-deep .custom-menubar .p-icon {
    /* Edita el icono responsive del nav*/
    height: 30px;
    width: 30px;
}

::ng-deep .custom-menubar span {
    /* Edita el texto de los botones del nav*/
    font-size: 1.2rem;
}

@media (max-width: 790px) {
    .desktop-logo {
        display: none;
    }


    .mobile-logo {
        display: block;
        margin-right: 10px;
    }

}

@media (max-width: 500px) {
    .menu-items {
        flex-direction: column;
        align-items: flex-start;
    }

    .greeting,
    .icon,
    .p-button {
        margin-bottom: 10px;
    }

    .icon {
        width: 30px;
    }

    .logout {
        margin: 5px;
    }

    .desktop-logo {
        display: none;
    }

    .medium {
        display: none;
    }

    .mobile-logo {
        display: block;
    }

    .p-button {
        padding: 10px;
        font-size: smaller;
    }
}