<p-toast position="top-right" key="adminDeleteUser" life=2000 />
<p-toast position="top-right" key="adminProduct" life=2000 />
<p-toast position="top-right" key="adminError" life=2000 />


<div class="panel-top h-16rem d-flex w-full">
    <p class="m-auto text-white line-height-4 text-6xl font-bold">
        - ADMINISTRACIÓN -
    </p>
</div>

<div class="container">
    <div class="table-list">
        <h3>Lista de usuarios</h3>
        <table>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Acción</th>
            </tr>
            @for (user of users; track $index) {
            <tr>
                <td>{{user.userId}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>
                    <select name="Rol" [id]="user.userId" [(ngModel)]="user.role">
                        <option value="Admin">Admin</option>
                        <option value="User">User</option>
                    </select>
                </td>
                <td>
                    <button class="edit-btn" (click)="modifyUserRole(user.userId, user.role)">✎ Actualizar</button> |
                    <button class="edit-btn" (click)="deleteUser(user.userId)">Eliminar</button>
                </td>
            </tr>
            }
        </table>
    </div>

    <div id="newProduct" [hidden]="isInsertProductHidden">
        <fieldset class="formularioProducto">
            <h3 class="new-product-title">Crear nuevo producto</h3>

            <form (ngSubmit)="insertProduct()" [formGroup]="newProductForm"><br>
                <input type="text" formControlName="productName" placeholder="Nombre"
                    [(ngModel)]="insertProductName" /><br><br>
                <input type="number" formControlName="productPrice" placeholder="Precio"
                    [(ngModel)]="insertProductPrice" /><br><br>
                <input type="number" formControlName="productStock" placeholder="Stock"
                    [(ngModel)]="insertProductStock" /><br><br>
                <input type="text" formControlName="productDescription" placeholder="Descripción"
                    [(ngModel)]="insertProductDescription" /><br><br>
                @if (rutaImgNewProduct) {
                <img width="50px" [src]="IMG_URL + rutaImgNewProduct">
                <input type="text" [placeholder]="rutaImgNewProduct" class="w-8" disabled><br><br>
                }
                <input type="button" (click)="addImage()" value="Añadir imagen" id="addImageButton"><br><br>
                <button type="submit" [disabled]="newProductForm.invalid">Crear producto</button>
            </form>
        </fieldset>
    </div>

    <dialog #addEditDialog>
        <form [formGroup]="addOrEditForm" (ngSubmit)="createOrUpdateImage()">
            <label>
                Nombre: <br>
                <input type="text" formControlName="name" />
            </label>
            <br><br>
            <label>
                Imagen: <br>
                <input  type="file" accept="image/png, image/jpeg, image/jpg" (change)="onFileSelected($event)" />
            </label>
            <br>
            <button class="btn-edit" type="button" (click)="closeDialog(addOrEditDialog)">Cancelar</button>
            <input id="envio-img" type="submit" [disabled]="addOrEditForm.valid" />
        </form>
    </dialog>

    <div class="table-list">
        <h3 class="list-title">
            Lista de productos
            <button (click)="showInsertProductForm()">Nuevo producto</button>
        </h3>
        <table>
            <tr>
                <th>ID</th>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Acción</th>
            </tr>
            @for (product of products; track $index) {
            <tr>
                <td>{{product.id}}</td>
                <td> <img [src]="IMG_URL + product.image"></td>
                <td>{{product.name}}</td>
                <td>{{product.price/100}}€</td>
                <td>{{product.stock}} uds.</td>
                <td><button (click)="showEditProductForm(product)" class="edit-btn">✎ Editar</button></td>
            </tr>
            }
        </table>
    </div>

    @if (selectedProduct) {
    <div id="editProduct" [hidden]="isEditProductHidden">
        <fieldset class="formularioProducto">
            <h3 class="new-product-title">Editar producto {{selectedProduct.id}}</h3>
            <form (ngSubmit)="editProduct(selectedProduct.id)" [formGroup]="editProductForm"> <br>
                <span>Nombre:</span>
                <input type="text" formControlName="name" placeholder="Nuevo nombre" /> <br><br>
                <span>Precio:</span>
                <input type="number" min="0" formControlName="price" placeholder="Nuevo precio" /><br><br>
                <span>Stock:</span>
                <input type="number" formControlName="stock" placeholder="Nuevo stock" min="0" /><br><br>
                <span>Descripción:</span>
                <input type="text" formControlName="description" placeholder="Nueva descripción" /> <br><br>
                <span>Imagen:</span>
                <img width="50px" [src]="IMG_URL + rutaImgModifyProduct">
                <input type="text" [value]="rutaImgModifyProduct" disabled><br><br>
                <input type="button" (click)="addImage()" value="Cambiar imagen" id="addImageButton"><br><br>
                <button type="submit">Confirmar cambios</button>

            </form>
        </fieldset>
    </div>
    }
</div>
