body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

.panel-top {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("https://img.freepik.com/foto-gratis/fondo-placa-base_23-2151733789.jpg?t=st=1729794199~exp=1729797799~hmac=b66faa72f5783a4ba35b83db8f2e033939890d227b5e901bfd1d319ab6580538&w=740");
    background-size: cover;
    background-position: center;
    text-align: center;
    align-content: center;
    text-shadow: #12182e 0 0 1em;
    background-attachment: fixed;
}

h3{
    color: #004a8d;
    margin: 2% 5%;
}

fieldset {
    max-width: 600px;
    margin: 0 auto 20px;
    padding: 20px;
    border: 1px solid #007acc;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

legend{
    color: #004a8d;
    font-weight: bold;
    padding: 5px;
}

label {
    flex: 1;
    font-weight: bold;
    color: #004a8d;
    padding-right: 10px;
    position: relative;
}

input {
    flex: 2;
    width: 100%;
    padding: 8px 12px;
    font-size: 1rem;
    color: #004a8d;
    border: 1px solid #007acc;
    border-radius: 4px;
    background-color: white;
    transition: border-color 0.3s ease;
}


.error{
    color: rgb(201, 0, 0);
    font-size: x-small;
    margin: 5px;
}

button {
    padding: 8px;
    border: 0px;
    background-color: #3c747c;
    color: white;
    border-radius: 30px;
    margin: 10px;
}

#envio-img{
    padding: 8px;
    border: 0px;
    background-color: #3c747c;
    color: white;
    border-radius: 30px;
    margin: 10px;
    width: fit-content;
}

button.btn-edit:hover{
    background-color: rgb(151, 0, 0);
}

button:hover, #envio-img:hover{
    cursor: pointer;
    background-color: #0b4258;
}

button.btn-edit{
    background-color: rgb(209, 0, 0);
}

.container div{
    margin: 5% 0%;
}

.container{
    margin: 0% 5%;
}

table{
    border-collapse: collapse;
    width: 100%;
    min-width: 600px;
    margin: auto;
    text-align: left;
}

tr, td {
    padding: 1%;
}

th {
    background-color: #004a8d;
    color: white;
    padding: 1%;
}

table tr:nth-child(odd) {
	background: #e8fcff;
}
table tr:nth-child(even) {
	background: #f7f9ff;
}

table img {
    width: 50px;
}

.table-list{
    overflow-x: auto; /* Desplazamiento horizontal responsivo*/
    -webkit-overflow-scrolling: touch;
    margin: 0 auto;
}

h3{
    font-size: 2rem;
}

.new-product-title{
    font-size: 1.5rem;
}

.formularioProducto{
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3%;
    border: 2px solid #007acc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#addImageButton:hover{
    cursor: pointer;
}



/* BOTON DE SUBIR IMG    */

input[type="file"] {
    position: relative;
  }
  
  input[type="file"]::file-selector-button {
    width: 136px;
    color: transparent;
  }
  
 
  input[type="file"]::before {
    position: absolute;
    pointer-events: none;
    top: 10px;
    left: 16px;
    height: 20px;
    width: 20px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
  }
  
  input[type="file"]::after {
    position: absolute;
    pointer-events: none;
    top: 11px;
    left: 40px;
    color: #0964b0;
    content: "Elegir imagen";
  }
  
  /* ------- From Step 1 ------- */
  
  /* file upload button */
  input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 30px;

    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
  }
  
  input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
  }
  

  