<!-- FIRST BLOCK WITH IMAGE AND SLOGAN -->
<div class="panel-top h-24rem d-flex w-full">
    <p class="m-4 text-white line-height-4 sm:text-6xl"><b>- COMUNICACIÓN SIN LÍMITES -</b></p>
    <p class="m-4 text-white line-height-4 sm:text-xl ">Tecnología que abre las puertas de la comunicación para todos</p>
</div>

<!-- ADVANTAGES OF OUR PRODUCTS AND COMPANY -->
<div class="h-auto card-container m-auto mt-4">

    <!-- 1º CARD-->
    <div class="m-auto card-advantage">
        <div class="text-2xl">
            <img src="icons/science.webp" alt="icono" width="50px" class="vertical-align-middle m-2"> 
            <span>
                La mejor 
                <span class="highlight">tecnología</span>
            </span>
        </div>
        <p class=" line-height-3 m-1">Estamos comprometidos en hacer que la tecnología sea una herramienta poderosa para
            empoderar a quienes necesitan apoyo en su día a día. </p>
    </div>

    <!-- 2º CARD-->
    <div class="m-auto card-advantage">
        <div class="text-2xl">
            <img src="icons/person.webp" alt="icono" width="50px" class="vertical-align-middle m-2">
            <span>
                <span class="highlight">Accesible</span>
                para todos
            </span>
        </div>
        <p class=" line-height-3 m-1">Juntos, trabajamos para que cada persona pueda expresar sus pensamientos, emociones y
            necesidades, superando las barreras que la comunicación pueda imponer.</p>
    </div>

    <!-- 3º CARD-->
    <div class=" m-auto card-advantage">
        <div class="text-2xl">
            <img src="icons/stars.webp" alt="icono" width="50px" class="vertical-align-middle m-2"/>
            <span>
                Creados para 
                <span class="highlight">ti</span>
            </span>
        </div>
        <p class="line-height-3 m-1">Nuestro equipo trabaja mano a mano con expertos y personas que enfrentan estos
            desafíos a diario, con el objetivo de crear productos que realmente marquen una diferencia.</p>
    </div>
</div>

<!-- SECOND BLOCK WITH SHOP BUTTON -->
<div class="h-24rem d-flex w-full panel-down">
    <p class="m-auto line-height-4 text-4xl font-bold">Comunica sin esfuerzo, tecnología diseñada para ti</p>
    <p class="m-auto line-height-4 font-bold">Estamos aquí para ayudarte</p>
    <!-- Button -->
    <a href="/catalog" class="p-button">
        Tienda
    </a>
    
</div>
