a{
    text-decoration: none;
}

/* 1º block */
.panel-top{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("https://img.freepik.com/foto-gratis/fondo-placa-base_23-2151733789.jpg?t=st=1729794199~exp=1729797799~hmac=b66faa72f5783a4ba35b83db8f2e033939890d227b5e901bfd1d319ab6580538&w=740");
    background-size: cover;
    background-position: center;
    text-align: center;
    align-content: center;
    text-shadow: #12182e 0 0 1em;
    background-attachment: fixed;
}

/* 2º block (with shop button) */
.panel-down{
    background:linear-gradient(to top, transparent, rgb(255, 255, 255)), url("https://img.freepik.com/vector-gratis/diseno-concepto-abstracto-tecnologia-malla-alambre_1017-14624.jpg?t=st=1729795122~exp=1729798722~hmac=dde2bf0b5f7121fdfddc12ee8506d660202912da1677bc675c2bb6fb9535d3c6&w=1280");
    background-size: cover;
    background-position: top;
    text-align: center;
    align-content: center;
    color: #2A345D;
}

/* Block with advantages  */
.card-container {
    display: flex;
    flex-wrap: wrap;           
    justify-content: center;          
    align-items: center; 
    text-align: left;
    font-size: larger;
    width: 100%;
    max-width: 1200px;             
    padding: 20px;
    gap: 1rem;
    margin: 0 auto;
}

/* Each advantage */
.card-advantage {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2A345D;
    flex: 1 1 45%;
    width: 100%;                 
    max-width: 400px;                
    padding: 1.5rem;
}

.card-container div:nth-child(1),
.card-container div:nth-child(2) {
    align-self: flex-start;
}

.card-container div:nth-child(3) {
    align-self: center;
}

.p-button {
    font-weight: bold;
    border: 0px; 
    background-color: #3c747c; 
    color: white; 
    border-radius: 30px;
}

.p-button:hover {
    cursor: pointer;
    background-color: #0b4258;
}

.highlight{
    color: var(--primary-color-light);
    font-weight: bold;
}

/* Responsivo para pantallas pequeñas */
@media (max-width: 768px) {
    .card-advantage {
        flex: 1 1 100%;              
    }
}               