<p-toast position="top-right" key="productCart" life=2000 />
<p-toast position="top-right" key="delete-review" life=2000 />

@if (product) {
<div class="container">

    <!--imagen producto-->
    <section class="imageProduct m-auto">
        <img [src]="IMG_URL + product.image" class="m-auto w-full">
    </section>

    <!-- info del producto -->
    <section class="infoProduct">
        <h1>{{product.name}}</h1>
        <p class="numRef">Identificador de artículo: {{product.id}}</p>
        <span class="price">{{product.price/100}}€</span>
        <p [innerHTML]="product.description"></p>

        <p class="stockQuantityText">{{product.stock}} en stock</p>
        <div class="inputQuantity">
            @if (product.stock > 0) {
            <p-inputNumber [(ngModel)]="quantity" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal"
                spinnerMode="horizontal" [step]="1" [min]="1" [max]="product.stock" allowEmpty=false
                decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-secondary"
                incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" />
            } @else {
            <p-inputNumber [(ngModel)]="product.stock" [showButtons]="true" buttonLayout="horizontal"
                inputId="horizontal" spinnerMode="horizontal" decrementButtonClass="p-button-secondary"
                incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus"
                decrementButtonIcon="pi pi-minus" readonly />
            }
        </div>

        <!-- boton añadir cesta -->
        <button (click)="addToCart()" class="mt-4 p-button font-bold vertical-align-middle"
            [disabled]="product.stock <= 0">Añadir a la cesta</button>

    </section>

    <section class="w-full">
        <h1>Reseñas</h1>
        <p>{{product.reviews.length}} reseñas. Media:
            <span>
                @switch (this.avg) {
                @case (1) {
                <span style="display: inline-flex; align-items: center; gap: 2px;">
                    <img src="icons/star.png" style="display: block;" width="20px">
                    <img src="icons/star.png" style="display: block;" width="20px">
                    <img src="icons/star.png" style="display: block;" width="20px">
                </span>
                }
                @case (0) {
                <span style="display: inline-flex; align-items: center; gap: 2px;">
                    <img src="icons/star.png" style="display: block;" width="20px">
                    <img src="icons/star.png" style="display: block;" width="20px">
                    <img src="icons/star_vacio.png" style="display: block;" width="20px">
                </span>
                }
                @case (-1) {
                <span style="display: inline-flex; align-items: center; gap: 2px;">
                    <img src="icons/star.png" style="display: block;" width="20px">
                    <img src="icons/star_vacio.png" style="display: block;" width="20px">
                    <img src="icons/star_vacio.png" style="display: block;" width="20px">
                </span>
                }
                }
            </span>
        </p>

        <p *ngIf="!authService.isAuthenticated()">
            Para poder escribir una reseña debe
            <a [routerLink]="'/login'" [queryParams]="{ redirectTo: router.url }">iniciar sesión.</a>
        </p>

        <!-- FORMULARIO PARA HACER RESEÑA -->
        <div *ngIf="authService.isAuthenticated() && hasPurchased && !hasComment">
            <p>Añade una reseña:</p>
            <form (ngSubmit)="publicReview()">
                <textarea class="w-full" rows="7" pInputText [(ngModel)]="textReview"
                    [ngModelOptions]="{standalone: true}" placeholder="¡Comenta aquí que te ha parecido el producto!">
                </textarea> <br><br>
                <input type="submit" value="Enviar" class="p-button" />
            </form>
        </div>

        <!--  si ya ha comentado -->
        <div *ngIf="authService.isAuthenticated() && hasComment">
            <p class="font-bold">Ya has dejado una reseña para este producto. ¡Gracias por tu opinión!</p>
        </div>

        <!-- Si el usuario no ha comprado el producto -->
        <div *ngIf="authService.isAuthenticated() && !hasPurchased">
            <p class="font-bold">Para poder dejar una reseña, debes haber comprado este producto.</p>
        </div>

        <br>

        @for (review of product.reviews; track review.id) {
        <div class="review">
            <!-- nombre usuario que ha comentado-->

            <span class="font-bold" style="display: inline-flex; align-items: center; gap: 7px;">
                <img src="icons/user-icon.webp" style="display: block;" width="25px" alt="icono usuario">
                {{review.user.name}}

                @switch (review.label) {
                @case (1) {
                <span style="display: inline-flex; align-items: center; gap: 2px;">
                    <img src="icons/star.png" style="display: block;" width="20px">
                    <img src="icons/star.png" style="display: block;" width="20px">
                    <img src="icons/star.png" style="display: block;" width="20px">
                </span>
                }
                @case (0) {
                <span style="display: inline-flex; align-items: center; gap: 2px;">
                    <img src="icons/star.png" style="display: block;" width="20px">
                    <img src="icons/star.png" style="display: block;" width="20px">
                    <img src="icons/star_vacio.png" style="display: block;" width="20px">
                </span>
                }
                @case (-1) {
                <span style="display: inline-flex; align-items: center; gap: 2px;">
                    <img src="icons/star.png" style="display: block;" width="20px">
                    <img src="icons/star_vacio.png" style="display: block;" width="20px">
                    <img src="icons/star_vacio.png" style="display: block;" width="20px">
                </span>
                }
                }
            </span>

            <span style="float: inline-end; padding-right: 10px;"> 
                {{review.publicationDate | date:"longDate" |
                lowercase}}</span>

            <p class="m-2 text-sm">{{review.text}}
                <span class="delete" *ngIf="authService.isAuthenticated()">
                    <img *ngIf="authService.isAdmin() || review.userId == user.userId" src="icons/bin.svg"
                        class="delete-icon" alt="Borrar" (click)="deleteReview(review.id)">
                </span>
            </p>
        </div>

        }
        @empty {
        <div>Aún no hay reseñas.</div>
        }
    </section>
</div>
}