.infoProduct {
    padding: 20px;

}

::ng-deep input#horizontal {
    width: 50px !important;
    text-align: center;
}

.delete{
    float: inline-end;
    margin: 5px;
}

.delete-icon{
    vertical-align: top;
    width: 20px;
    margin-left: 0.5%;
}

.delete-icon:hover{
    cursor: pointer;
    filter: invert(12%) sepia(87%) saturate(7025%) hue-rotate(5deg) brightness(105%) contrast(117%);
}

p {
    line-height: 24px;
    font-size: larger;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}


.imageProduct,
.infoProduct {
    width: 90%;
    margin: auto;
}

/* Media Queries */ 
@media (min-width: 768px) { 
    .imageProduct { width: 30%; } 
    .infoProduct { width: 45%; } 
    .review { width: 100%;}
    .container {
        margin: 100px;
    }
}

button {
    border: 0px;
    background-color: #3c747c;
    color: white;
    border-radius: 30px;
    padding: 15px;
    font-size: medium;
    letter-spacing: 1px;
    font-family: inherit;
}

.button:hover {
    cursor: pointer;
    background-color: #0b4258;
}

button:disabled {
    background-color: #d3d3d3;
    color: #5f5f5f;
}

.p-button {
    border: 0px;
    background-color: #3c747c;
    color: white;
    border-radius: 30px;
    padding: 10px;
    font-size: medium;
    font-weight: bold;
}

.p-button:hover {
    cursor: pointer;
    background-color: #0b4258;
}

h1 {
    color: #2A345D;
    font-size: xx-large;
    margin: 15px 0;
}

.price {
    font-size: larger;
    color: #0b4258;
    font-weight: bold;
}

img {
    border-radius: 20px;
}

.review {
    padding: 10px;
    border: 1px solid #2A345D;
    border-radius: 10px;
    margin-bottom: 15px;
}

:host ::ng-deep .p-inputnumber-button .pi {
    font-size: 1rem;
}

.numRef {
    color: #5f5f5f;
    font-size: 1rem;
}

.stockQuantityText{
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1rem;
}