<p-toast position="top-right" key="cart" life=2000 />


<!-- FIRST BLOCK WITH IMAGE AND SLOGAN -->
<div class="panel-top h-12rem d-flex w-full">
  <p class="m-auto text-white line-height-4 text-6xl uppercase font-bold">
    - cesta -
  </p>
</div>

<div class="cart-container">
  <div class="cart-content">

    <!-- SI EL USUARIO ESTA LOGUEADO -->
    @if(this.isLog){
      @if (cart.products.length === 0) {
      <div class="empty-cart">
        <p>Tu carrito está vacío.</p>
      </div>
      }
      @for (product of cart.products; track product.productId) {
        <div class="cart-product">
          <img src="{{ IMG_URL }}{{ product.product.image }}" />
          <div class="product-details">
            <h3>{{ product.product.name }}</h3>
            <p>{{ product.product.price / 100 }} €</p>

            <label>Cantidad: </label>
            <input type="number" class="input-quantity" [(ngModel)]="product.quantity"
              (ngModelChange)="changeQuantityBBDD(product, product.quantity)" min="1"  max="{{product.product.stock}}" />
            
              <button class="p-button-danger" label="Eliminar" (click)="removeProductBBDD(product.productId)">
              Eliminar
            </button>

          </div>
        </div>
      }
    }

    <!-- SI EL USUARIO NO ESTA LOGUEADO -->
    @if(!isLog) {
      @if (cartProducts.length === 0) {
      <div class="empty-cart">
        <p>Tu carrito está vacío.</p>
      </div>
      }
      @for (product of cartProducts; track product.productId) {
      <div class="cart-product">
        <img src="{{ IMG_URL }}{{ product.product.image }}" />
        <div class="product-details">
          <h3>{{ product.product.name }}</h3>
          <p>{{ product.product.price / 100 }} €</p>
            <label>Cantidad: </label>
            <input type="number" class="input-quantity" [(ngModel)]="product.quantity"
              (ngModelChange)="changeQuantityLocal(product, product.quantity)" min="1" max="{{product.product.stock}}"/>
          <button class="p-button-danger" label="Eliminar" (click)="removeProductLocal(product)">
            Eliminar
          </button>

      </div>
    </div>
    }

    }
    <div class="cart-total">
      <p>Total: {{ total | currency : "EUR" }}</p>
    </div>

    <div class="pay-button">
      <button  [disabled]="numProducts<=0" (click)="goToBlockchain()">
        Pagar con ethereum
      </button>
      <button [disabled]="numProducts<=0" (click)="goToCheckout()">
        Pagar con tarjeta
      </button>
      
    </div>

  </div>
</div>
