<!-- FIRST BLOCK WITH IMAGE AND SLOGAN -->
<div class="panel-top">
    <p>
        - SOBRE NOSOTROS -
    </p>
</div>

<br>

<!-- Misión, Visón -->
<div class="contenedor">
    <div style=" width: 90%;">
        <h2>
            Misión y Visión: Nuestros Pilares
        </h2>
        <p>
            Nuestra misión es diseñar y fabricar dispositivos tecnológicos innovadores
            que faciliten la comunicación y mejoren la calidad de vida de las personas
            con Trastorno del Espectro Autista (TEA).

            A través de productos accesibles
            y adaptados a las necesidades de cada usuario, buscamos eliminar barreras
            comunicativas y promover su inclusión en todos los ámbitos de la sociedad.
        </p>
        <p>
            Queremos ser líderes en la creación de tecnologías accesibles y
            personalizadas para personas con TEA, ampliando nuestra presencia en el
            mercado nacional.

            Queremos que nuestras soluciones sean reconocidas por su
            impacto positivo en la vida de las personas, brindando herramientas que
            fomenten la autonomía y la integración social de este colectivo.
        </p>
    </div>

    <div>
        <img width="100%"
            src="https://img.freepik.com/vector-premium/personajes-negocios-analizando-datos-marketing-vector-isometrico-ilustracion-moderna_566886-5599.jpg?w=740"
            alt="">
    </div>
</div>

<!-- ABOUT US (TEAM) -->
<div class="card-container">
    <div class="fila">
        <!-- Tarjeta 1 -->
        <div class="card-advantage">
            <div class="text-2xl">
                <img src="aboutUsImages/trabajo.png" alt="icono" width="50px" />
                <span style="color: #4075a3" class="font-bold">Rocío</span>
            </div>
            <p>
                Me caracterizo por mi ética, un profundo autoconocimiento y una gran empatía hacia las personas.
                A la vez, estoy enfocándome en mejorar mi organización y afrontar imprevistos con mayor tranquilidad.
            </p>
        </div>

        <!-- Tarjeta 2 -->
        <div class="card-advantage">
            <div class="text-2xl">
                <img src="aboutUsImages/creatividad.png" alt="icono" width="50px" />
                <span style="color: #4075a3" class="font-bold">María</span>
            </div>
            <p>
                Destaco por mi creatividad, confianza en mis capacidades, persistencia y
                sentido ético. Sin embargo, debo mejorar mi habilidad para asumir y
                enfrentar riesgos.
            </p>
        </div>

        <!-- Tarjeta 3 -->
        <div class="card-advantage">
            <div class="text-2xl">
                <img src="aboutUsImages/informe.png" alt="icono" width="50px" />
                <span style="color: #4075a3" class="font-bold">Miguel</span>
            </div>
            <p>
                Mis principales fortalezas son mi alegría, capacidad de conversación
                sobre diversos temas. Sin embargo, tiendo a no pedir ayuda cuando la
                necesito y prefiero trabajar en solitario.
            </p>
        </div>
    </div>

    <div class="fila">
        <!-- Tarjeta 4 -->
        <div class="card-advantage">
            <div class="text-2xl">
                <img src="aboutUsImages/idea.png" alt="icono" width="50px" />
                <span style="color: #4075a3" class="font-bold">Agustín</span>
            </div>
            <p>
                Destaco por mi capacidad de comunicación clara y efectiva, así como
                por motivar a los demás y trabajar en equipo. Sin embargo, tiendo a ser
                impaciente con los procesos lentos.
            </p>
        </div>

        <!-- Tarjeta 5 -->
        <div class="card-advantage">
            <div class="text-2xl">
                <img src="aboutUsImages/orden.png" alt="icono" width="50px" />
                <span style="color: #4075a3" class="font-bold">David</span>
            </div>
            <p>
                Soy persistente, confío en mis capacidades, lo que me ayuda a alcanzar
                mis objetivos. Busco mejorar mi creatividad, organización y habilidades
                sociales para potenciar mi crecimiento personal y profesional.
            </p>
        </div>
    </div>
</div>

<br><br><br>