/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html, body {
    font: inherit;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Títulos */
/* span{  
    font-family: var(--font-family-title);
    font-weight: bold;
} */

/* Párrafos/Textos */
/* p{  
    font-family: var(--font-family-text);
} */

:root {
    /*Esquema de colores del logo*/
    --primary-color: #073953 !important; 
    --secondary-color: #70ADA9 !important;
    --terciary-color: #447B83 !important;
    --secondary-color-dark: #5E9F9D !important; 
    --primary-color-light : #2B5F6E !important;
    --font-family-title: "Nunito Sans" !important;
    --font-family-text: "Faustina" !important;
}

.loading{
    justify-content: center;
    text-align: center;
    padding: 5%;
    font-size: 1.5rem;
    color: #555555;
}

.main-content{
    flex: 1;
}