<p-toast position="top-right" key="userProfile" (onClose)="this.actualizarUser()" life=2000 />


<div class="panel-top h-16rem d-flex w-full">
    <p class="m-auto text-white line-height-4 text-6xl uppercase font-bold">
        - MI PERFIL -
    </p>
</div>

<br><br>

<!-- User Info -->
<fieldset>
    <legend>Perfil de {{user.role}}</legend>
    <form (ngSubmit)="onSubmit()" [formGroup]="userForm">

        <div class="profile-row">
            <label for="name">Nombre:
                <input type="text" [value]="user?.name" formControlName="name" [readonly]="!isEditing">
            </label>
        </div>
        <div class="profile-row">
            <label for="email">Correo:
                <input id="email" type="email" formControlName="email" [readonly]="!isEditing" [value]="user?.email" />
            </label>
        </div>
        <div class="profile-row">
            <label for="address">Dirección:
                <input id="address" type="text" formControlName="address" [readonly]="!isEditing"
                [value]="user?.address" />
            </label>
        </div>
        <div class="profile-row-buttons">
            <button type="button" [ngClass]="isEditing ? 'btn-edit' : 'btn-secondary'" class="btn btn-secondary"
                (click)="edit()">
                {{ isEditing? 'Cancelar edición' : 'Editar' }}
            </button>
            <button type="submit" class="btn btn-primary" [hidden]="!isEditing || userForm.invalid">
                Guardar Cambios
            </button>
        </div>
    </form>
</fieldset>

<fieldset>
    <Label>Contraseña: <input type="password" placeholder="***********" [readonly]="!isEditing"></Label>
    <button type="button" class="btn btn-secondary" style="float: right;" (click)="showEditPassword()"> Cambiar
        Contraseña </button>
</fieldset>

<div id="newPassword" [hidden]="isNewPasswordHidden">
    <fieldset>
        <form [formGroup]="passwordForm" (ngSubmit)="editPassword()">
            <label>Cambiar contraseña:</label>
            <br><br>
            <input type="password" formControlName="newPassword" required placeholder="Nueva Contraseña" />
            <br>
            <div class="error" *ngIf="passwordForm.get('newPassword')?.hasError('minlength') && passwordForm.get('password')?.invalid && passwordForm.get('password')?.touched">La contraseña debe
                tener mínimo 6 caracteres.</div>
            <br>
            <input class="icon-input" placeholder="Repetir contraseña" type="password"
                formControlName="confirmPassword" />
            <div class="error" *ngIf="passwordForm.get('confirmPassword')?.hasError(('mismatch'))  && passwordForm.get('confirmPassword')?.touched">Las contraseñas no coinciden.</div>
            <br>

            <button type="submit" [disabled]="passwordForm.invalid">Actualizar contraseña</button>
        </form>
    </fieldset>
</div>

    <hr class="line-separator">

    <!-- PEDIDOS -->
    <div class="container shadow-2 border-round">
        <div class="orders-list">
            <h3>Mis Pedidos</h3>

            @if (orders.length <=0 ) { 
                <div class="noOrders">Todavía no ha realizado ningún pedido.</div>
            }

            @for (order of orders ; track order.id) {
                
            <div class="order">
                <div class="order-header">
                    <p><b>Pedido n.º {{order.id}}</b></p>
                    <span>Fecha del pedido: {{order.PaymentDate | date:'dd MMM YYYY HH:mm' | lowercase}} </span>
                </div>
                <table>

                    <tr>
                        <th>Imagen</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio unidad</th>
                    </tr>

                    @for (line of order.ProductsOrder; track $index) {
                        <tr (click)="navigateToProduct(line.productId)" class="product-link">
                            <td> <img [src]="IMG_URL + line.product.image"></td>
                            <td>{{line.product.name}}</td>
                            <td>{{line.quantity}}</td>
                            <td>{{line.pricePay/100}}€</td>
                        </tr>
                    }

                </table>
                <div class="order-summary">
                    <span class="payment-method">Método de pago: {{ order.PaymentMethod }}</span>
                    <span class="total-price">Precio total: <b>{{ order.TotalPrice/100}}€</b></span>
                </div>
            </div>
            }
        </div>
    </div>
