<!-- FIRST BLOCK WITH IMAGE AND SLOGAN -->
<div class="panel-top h-15rem d-flex w-full">
    <p class="m-auto text-white line-height-4 text-5xl uppercase font-bold">
        ¡Pago realizado con éxito!
    </p>
</div>

<section>

    <div>
        <h3><img style="vertical-align: middle;" height="30px" src="box.png" alt="Pedido confirmado"> ¡Gracias por tu
            compra, {{order.User.name}}! </h3>
        <p>Tu pago ha sido procesado correctamente. Se le enviará un correo de confirmación a {{order.User.email}}. </p>
    </div>

    @if (!isLoading) {
    <div class="order-info">
        <p>Su número de pedido es:<b> {{id}}.</b></p>
        <p>Método de pago: <b>{{order.PaymentMethod}}</b></p>
        <p>Fecha de pedido: <b>{{order.PaymentDate | date:'dd MMM YYYY HH:mm' | lowercase}}</b></p>
        <p>Total pagado: <b>{{order.TotalPrice/100}}€</b></p>
        @if (order.PaymentMethod == "blockchain") {
        <p>Total pagado en Ethereum: <b>{{(order.TotalPrice/100)* 0.00029}}ETH</b></p>
        }

    </div>
    }

    <br><br>
    <h3>Productos:</h3>
    <br>
    <div class="order-info">
        @for (product of products; track product.productId) {
        <div class="product-order">
            <img src="{{ IMG_URL }}{{ product.product.image }}" height="150px" />
            <ul>
                <li style="font-size: 1.1rem;"><b>{{product.product.name}}</b></li>
                <li>Cantidad: {{product.quantity}} uds.</li>
                <li>Precio unidad:{{product.product.price/100}}€</li>
                <li>Subtotal: {{product.product.price*product.quantity/100}}€</li>
            </ul>
        </div>
        }
    </div>

</section>
