.panel-top{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("https://img.freepik.com/foto-gratis/fondo-placa-base_23-2151733789.jpg?t=st=1729794199~exp=1729797799~hmac=b66faa72f5783a4ba35b83db8f2e033939890d227b5e901bfd1d319ab6580538&w=740");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    align-content: center;
    text-shadow: #12182e 0 0 1em;
}

.product-flex-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  /* Tres columnas */
    gap: 20px;
    justify-content: center;
    padding: 20px;
    margin: 0 100px;
}

.product-flex-container.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.card-container {
    gap: 10px;  
    display: flex;
    justify-content: center;                      
    align-items: center;              
    padding: 10px;
    font-size: larger;
    vertical-align: middle;
    margin: auto;
}

.card-advantage {
    display: flex; 
    flex-direction: column; 
    border-radius: 8%;
    width: 275px;
    height: 215px;
    box-shadow: 2px 7px 15px 2px rgba(0, 0, 0, 0.5);
    overflow: hidden; 
}

.card-content {
    background-color: var(--primary-color);
    flex-grow: 10; 
    text-align: center;
    padding: 5%;
}

.card-data {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: auto;
}

.card-data p {
    margin: 0;
    display: inline-flex;
    align-items: center;
}

.reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -7%;
}

.card-content h2{
    color: #ffffff;
    font-weight: normal;
    font-size: 1.1rem;
    margin: 0px; 
    padding: 0px; 
}

.card-content p {
    color: #ffffff;
    margin: 4%;
}

img{
    height: 215px;
}

.p-button{
    border: 0px;
    background-color: #3c747c;
    color: white;
    border-radius: 30px;
}

.p-button:hover {
    cursor: pointer;
    background-color: #0b4258;
}

.product-flex {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 1rem; 
    margin: 0px 30px;
}

.card-container {
    flex: 1 1 250px; 
    margin: 1rem; 
}

select{
    border: 1px solid #0b4258;
    border-radius: 5px;
    margin: 10px 20px;
    font-size: medium;
    padding: 5px;
    color: #12182e;
}

a{
    text-decoration: none;
}

/* Responsivo para pantallas medianas */
@media (max-width: 991px) {
    .product-flex-container {
        grid-template-columns: repeat(2, 1fr);  /* 2 columnas */
        grid-template-rows: auto; 
        justify-items: center;
    }

    .panel-top p{
        font-size: x-large;
    }

    .panel-top{
        height: 200px;
    }
}

/* Responsivo para pantallas pequeñas */
@media (max-width: 768px) {
    .product-flex-container {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .panel-top p{
        font-size: x-large;
    }

    .panel-top{
        height: 200px;
    }
}      

/* Responsivo para pantallas muy pequeñas */
@media (max-width: 400px) {
    ::ng-deep .p-inputtext{
        width: 170px;
    }

    .card-advantage {
        width: 250px !important;
    }

    
}   