<p-toast position="top-right" key="catalog" life=2000 />


<!-- FIRST BLOCK WITH IMAGE AND SLOGAN -->
<div class="panel-top lg:h-20rem sm:h-14rem d-flex w-full">
    <p class="m-auto text-white line-height-4 lg:text-6xl sm:text-4xl uppercase font-bold">
        - Catálogo de productos -
    </p>
</div>

<div style="text-align: center; margin-top: 1%">
    <br />
    <form class="filter" (ngSubmit)="search()">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText [(ngModel)]="query" [ngModelOptions]="{standalone: true}" placeholder="Buscar producto" />
            <input type="submit" value="Buscar" class="p-button font-bold ml-2" />
        </span>
    </form>

    <!-- ordenar por nombre o precio-->
    <select [(ngModel)]="sortCriterio" (change)="onSortChange(sortCriterio)">
        <option [ngValue]=0>Ordenar por Nombre</option>
        <option [ngValue]=1>Ordenar por Precio</option>
    </select>

    <!-- ordenar asc o desc-->
    <select [(ngModel)]="sortOrder" (change)="onOrderChange(sortOrder)">
        <option [ngValue]="true">Ascendente</option>
        <option [ngValue]="false">Descendente</option>
    </select>
</div>

<div class="product-flex-container" [class.empty]="!filteredProducts.length">
    @if (isLoading) {
        <div class="loading">
            <p-progressSpinner strokeWidth="4" ariaLabel="cargando" [style]="{ width: '85px', height: '85px' }"/>
        </div>
    } @else {
    @for (product of filteredProducts; track product.id) {

    <!-------------- Inicio Tarjeta -------------->
    <a [routerLink]="['/product', product.id]">
        <div class="m-auto h-20rem card-advantage">

            <img [src]="IMG_URL + product.image">

            <div class="card-content">
                <h2>{{product.name}}</h2>

                <div class="card-data">
                    <p>{{product.price / 100}}€</p>

                    @if (product.stock > 0) {
                    <p class="text-m stock" style="color:#5aff4b"><b>Stock</b></p>
                    } @else {
                    <p class="text-m stock" style="color:rgb(255, 107, 107)"><b>No stock</b></p>
                    }
                </div>

                <div class="reviews">
                    <p class="text-m ">
                        <span>
                            @switch (calculateAvg(product.reviews)) {
                            @case (1) {
                            ⭐⭐⭐
                            }
                            @case (0) {
                            ⭐⭐✩
                            }
                            @case (-1) {
                            ⭐✩✩
                            }
                            }
                        </span> ({{product.reviews.length}})
                    </p>
                </div>
            </div>
        </div>
    </a>
    <!-------------- Fin Tarjeta -------------->


    } @empty {
    <p class="loading">No hay resultados</p>
    }
    }
</div>


<br><br>