<footer>
    <!-- Colaboradores-->
    <div class="lg:w-8 m-4 sm:w-full md:w-full p-2">
        <br>
        <p class="text-lg">Colaborando con</p>
        <br>
        <div>
            <img src="logos/IAT-LOGOTIPO-blanco.webp" alt="logo_alan_turing" width="180px">
            <img src="logos/Autismo malaga-transparente.webp" alt="logo_alan_turing" width="100px">
            <img src="logos/Logo_AutismoSur.webp" alt="logo_alan_turing" width="100px">
        </div>
    </div>

    <!-- contacto info -->
    <div class="lg:w-8 m-4 sm:w-full md:w-full p-2 contact-info" >
        <br>
        <i class="pi pi-envelope" style="font-size: 20px; color:#D1DEFF;"></i> 
        <a href="mailto:comunicat.proyecto@gmail.com">comunicat.proyecto&#64;gmail.com</a>
        <br>
        <br>    
        <!--<i class="pi pi-phone" style="font-size: 20px; color:#D1DEFF;"></i> 
        <a href="tel:+">612 345 678</a>
        <br>-->
        <img src="logos/comunicat-sinsombra.webp" alt="Logo Innovacom" width="150px">
    </div> 
</footer>