footer{
    color: #ebf1ff;
    text-align: center;
    margin: 0;
    background-color:var(--primary-color);
    display: flex;
    flex-shrink: 0;
    height: auto;
    width: 100%;
}

img{
    margin: 20px;
}

p{
    margin: 0;
    padding: 0;
}

a{
    margin: 10px;
    text-decoration: none;
    color: #D1DEFF;
}

.contact-info {
    border-left: solid 1px var(--secondary-color);
}

@media (max-width: 600px) {
    footer {
        flex: 1 1 100%;   
        display: flex;     
        flex-wrap: wrap      
    }

    footer div{
        width: 100%;
    }

    .contact-info {
        border-left: none;
        border-top: solid 1px var(--secondary-color);
    }

}   


